.main-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
}

[data-reach-combobox-input] {
  border-style: solid;
  border-color: #d7d7db;
  background-color: #ededf0;
  width: 100%;
  height: 2em;
  font-size: 1.5rem;
  border-radius: 0.25rem;
}

.locate {
  display: flex;
  border-style: solid;
  border-color: #a4000f;
  background-color: #d70022;
  color: #ffffff;
  height: 2em;
  font-size: 1.5rem;
  border-radius: 0.25rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#map {
  margin-top: 80px;
  margin-bottom: 40px;
  max-width: 100%;
  min-width: 100%;
  border-radius: 1.5rem;
}

.location-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 2rem;
  margin-bottom: 20px;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 100%;
}

.label-wrapper {
  display: flex;
  justify-content: left;
  width: 100%;
}

h3 {
  font-size: 1rem;
}

.drop-wrapper {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  grid-column-gap: 3rem;
}
