/* .page-wrapper {
  display: grid;
  z-index: 1;
  margin-left: rem(15px);
  margin-right: rem(15px);
  width: 100vw;
  height: auto;
  background: linear-gradient(
    173.04deg,
    rgba(78, 185, 244, 0.63) 2.93%,
    #196fbf 94.56%
  );
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr rem(20px);
  grid-gap: rem(20px);
}*/
