@import url("https://fonts.googleapis.com/css?family=Work+Sans&display=swap");

.App {
  text-align: center;
}

body {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  font-family: "Work Sans";
}

.page-wrapper {
  display: grid;
  z-index: 1;
  margin-left: rem(15px);
  margin-right: rem(15px);
  width: 100vw;
  height: auto;
  background: linear-gradient(
    173.04deg,
    rgba(78, 185, 244, 0.63) 2.93%,
    #196fbf 94.56%
  );
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr rem(20px);
  grid-gap: rem(20px);
}

/* header */

.header-wrapper {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

/* main card */

.main-card {
  height: 2000px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 100px;
  border-radius: 20px;
}

.map-wrapper {
  /* width: 500px;
  height: 500px; */
  margin-top: 100px;
}

.logo-wrapper {
  margin-right: 2rem;
}

/* Needed CSS for Search Bar (Can mess with) */
.search {
  position: absolute;
  left: 60%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  z-index: 10;
}

[data-reach-combobox-popover] {
  position: absolute;
  z-index: 10;
}
